@tailwind base;
@tailwind components;
@tailwind utilities;


.hero {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/Coding-Challenge-Image.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.heroUnderlay {
    width: 28.688%;
    height: 100vh;
    background: #611818;
    position: absolute;
    z-index: 1;
}

.heroOverlayWrap {
    position: relative;
    padding: 39px 31px 39px clamp(1.938rem, -2.213rem + 15.446vw, 11.688rem);
    z-index: 2;
}


.heroOverlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroOverlayHeading {
    color: #FFF;
    font-family: Didot, serif;
    font-size: clamp(3.875rem, 1.211rem + 14.211vw, 14rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding: 0;
    position: relative;
    top: clamp(-0.313rem, -1.27rem + 3.564vw, 1.938rem);
}

.heroOverlayBtn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 22px;
    position: relative;
    width: fit-content;
}

.heroOverlayBtnSVG {
    width: clamp(1.938rem, 1.618rem + 1.188vw, 2.688rem);
    height: clamp(1.938rem, 1.618rem + 1.188vw, 2.688rem);
}

.heroOverlayBtnText {
    color: #FFF;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: clamp(1.125rem, 0.939rem + 0.693vw, 1.563rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.625px;
}

.heroOverlaySocials {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    align-items: flex-end;
    gap: 20px;
}

.heroOverlaySocialsSVG {
    height: clamp(3rem, 2.468rem + 1.98vw, 4.25rem);
    width: clamp(3rem, 2.468rem + 1.98vw, 4.25rem);
}
